
/* ------------ General CSS ------------ #818080 */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    color: black;
    background-color: black;
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 0;
    width: 100vh;
    height: 100vh;
}

p {
    margin: 0;
    padding: 0;
}

.cube {
    background-color: #444444;
    height: 10vh;
    width: 10vh;
}

.cube:hover {
    z-index: 1;
    box-shadow: 1px 1px 25px 0.1px white;
}