/** ------------ General CSS ------------ */

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  margin: 0 auto;
  width: 100vh;
}

.cube {
  background-color: #444444;
  height: 10vh;
  width: 10vh;
}

.cube:active,
.cube:focus,
.cube:hover {
  box-shadow: 1px 1px 25px 0.1px white;
  z-index: 1;
}
